body {
  padding: 0px;
}
.counter {
  padding: 16px;
  display: flex;
  justify-content: center;
}
.color-picker {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
p {
  text-align: left;
}
